<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  The world is your oyster.
  <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
</ion-content>

<script src="https://www.gstatic.com/firebasejs/5.9.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCsCNOk6NawT6ZZ8FLTyr0QAbGPpFxZa78",
    authDomain: "ionic2dol-57e3b.firebaseapp.com",
    databaseURL: "https://ionic2dol-57e3b.firebaseio.com",
    projectId: "ionic2dol-57e3b",
    storageBucket: "ionic2dol-57e3b.appspot.com",
    messagingSenderId: "524484449444"
  };
  firebase.initializeApp(config);
</script>